<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>朱一龙的日记本</title>
    <script src="https://cdn.bootcss.com/vue/2.6.3/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .imgbox {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-size: cover;
            background-position: top center;
background-image: url('http://wx1.sinaimg.cn/mw690/95c4147fgy1fu4vn69z66j205k05k3z9.jpg');
        }

        #info-box {
            position: absolute;
            color: #ffffff;
            top: 0px;
            left: 0;
            bottom: 0;
            width: 300px;
            overflow-x: hidden;
            overflow-y: auto;
            z-index: 100;
        }

        #content {
            position: absolute;
            top: 0px;
            left: 300px;
            bottom: 0;
            right: 0;
            overflow-y: auto;
            overflow-x: hidden;
        }
    </style>
</head>

<body>
    <div id="info-box" class="card" style="background-image:url('https://wx1.sinaimg.cn/mw1024/95c4147fgy1fv5wx77kllj21kw11ox6t.jpg');">
        <center>
            <div class="card-body">
                <h2 name="name">{{name}}</h2>
                <div class="imgbox"></div>
                <br />
                <div name="info">
                    <p>{{info[0]}}</p>
                    <p>{{info[1]}}</p>
                    <p>{{info[2]}}</p>
                </div>

                <a v-bind:href="contact.adr">
                    <img v-bind:src="contact.pic">
                </a>
            </div>
        </center>
    </div>

    <div id="content">
        <!--导航栏-->
        <ul id="navigation" class="nav nav-tabs">
            <li class="nav-item" v-for="item in navigation">
                <a data-toggle="tab" v-bind:href="item.href" class="nav-link">{{item.content}}</a>
            </li>
        </ul>

        <div class="tab-content">
            <!--日记正文-->
            <div id="dairy-post-info" class="tab-pane active show">
                <div v-for="item in dairy" class="jumbotron">
                    <h2 name="post-title">
                        <span name="date" class="display-3 text-primary">{{item.date}}</span>
                        <span name="title">{{item.title}}</span>
                    </h2>
                    <p class="lead">{{item.ins}}</p>
                    <hr class="my-4">
                    <p>{{item.content}}</p>
                </div>

                <button class="btn btn-primary" v-on:click="showInput">添加日记</button>
                <div v-bind:class="inputClass" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-group row" v-for="(value,key) in item">
                                <label class="col-sm-2 col-form-label">{{key}}</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control is-valid" v-model:value="item[key]">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" v-on:click="submit('dairy')">提交</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--练习实例/游记-->
            <div id="travel-post-info" class="container-fluid tab-pane">
                <div v-for="item in travel" class="jumbotron">
                    <div class="row">
                        <div class="col-md-6">
                            <img height="300" width="400" v-bind:src="item.img">
                        </div>
                        <div class="col-md-6">
                            <h2 name="post-title">
                                <span name="date" class="display-3 text-primary">{{item.date}}</span>
                                <br>
                                <span name="title">{{item.title}}</span>
                            </h2>
                            <p class="lead">{{item.ins}}</p>
                            <hr class="my-4">
                            <p>{{item.content}}</p>
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary" v-on:click="showInput">添加游记</button>
                <div v-bind:class="inputClass" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-group row" v-for="(value,key) in item">
                                <label class="col-sm-2 col-form-label">{{key}}</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control is-valid" v-model:value="item[key]">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" v-on:click="submit('travel')">提交</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--图片集-->
            <div id="pics-post-info" class="container tab-pane">
                <div class="row">
                    <div class="col-md-4" v-for="item in pics">
                        <div class="card">
                            <img class="card-img" v-bind:src="item.img" height=300 alt="Card image">
                            <div class="card-img-overlay" style="color:azure">
                                <h4 class="card-title">{{item.title}}</h4>
                                <p class="card-text">{{item.content}}</p>
                                <p class="card-text" style="color:azure">
                                    <small class="text-muted">{{item.date}}</small>
                                </p>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>

                <button class="btn btn-primary" v-on:click="showInput">添加照片</button>
                <div v-bind:class="inputClass" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-group row" v-for="(value,key) in item">
                                <label class="col-sm-2 col-form-label">{{key}}</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control is-valid" v-model:value="item[key]">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" v-on:click="submit('pics')">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        var infoBoxApp = new Vue({
            el: "#info-box",
            data: {
                name: "朱一龙",
                info: ["热爱演戏, 热爱生活", "希望在中国电影史、电视剧史上，至少留下一个名字。",
                    "表演的道路没有尽头，我愿在未来继续匍匐前行，做一个表演艺术的信徒。"
                ],
                contact: {
                    adr: "https://weibo.com/zhuyilong?refer_flag=0000015012_&from=feed&loc=nickname&is_hot=1",
                    pic: "https://www.easyicon.net/download/png/1164508/40/"
                }
            }
        })

        var contentApp = new Vue({
            el: "#content",
            methods: {
                showInput: function (event) {
                    if (this.inputClass === "fade modal-dialog") {
                        this.inputClass = "fade modal-dialog active show"
                    } else {
                        this.inputClass = "fade modal-dialog"
                    }
                },
                submit: function (message) {
                    if (message === "dairy") {
                        this.dairy.push(Object.assign({}, this.item))
                    } else if (message === "travel") {
                        this.travel.push(Object.assign({}, this.item))
                    } else {
                        this.pics.push(Object.assign({}, this.item))
                    }
                    this.item.date = "填入日期"
                    this.item.title = "标题"
                    this.item.ins = "填入题记。若是添加“照片”，可忽略不填"
                    this.item.content = "内容"
                    this.item.img = "填入图片地址。若是添加“日记”，可忽略不填"
                    this.inputClass = "fade modal-dialog"
                }
            },
            data: {
                inputClass: "fade modal-dialog",
                item: {
                    img: "填入图片地址。若是添加“日记”，可忽略不填",
                    date: "填入日期",
                    title: "标题",
                    ins: "题记",
                    content: "内容"
                },
                navigation: [{
                        content: "日记",
                        href: "#dairy-post-info",
                    },
                    {
                        content: "游记",
                        href: "#travel-post-info",
                    },
                    {
                        content: "照片集",
                        href: "#pics-post-info",
                    }
                ],
                dairy: [{
                        date: "2018/04/16",
                        title: "热爱生活",
                        ins: "草在结它的种子 风在摇它的叶子",
                        content: "世界上只有一种英雄主义,就是看清生活的真相之后依然热爱它。"
                    },
                    {
                        date: "2018/04/16",
                        title: "热爱生活",
                        ins: "草在结它的种子 风在摇它的叶子",
                        content: "我们站着,不说话,就十分美好。"
                    }
                ],
                travel: [{
                        img: "http://wx2.sinaimg.cn/mw690/95c4147fgy1fv18oqa7mpj21kw22ge81.jpg",
                        date: "2018/04/16",
                        title: "环游世界",
                        ins: "我见青山多妩媚",
                        content: "料青山见我应如是"
                    },
                    {
                        img: "https://wx4.sinaimg.cn/mw1024/95c4147fgy1fv5wx05j9dj21kw11vhdu.jpg",
                        date: "2018/04/16",
                        title: "环游世界",
                        ins: "我见青山多妩媚",
                        content: "料青山见我应如是"
                    },
                ],
                pics: [{
                        img: "https://wx1.sinaimg.cn/mw1024/95c4147fgy1fv5wx7obefj21kw11xb2d.jpg",
                        title: "魅力假日",
                        content: "我行过许多地方的桥，看过许多次数的云，喝过许多种类的酒，却只爱过一个正当最好年龄的人 ",
                        date: "update 2018/04/16"
                    },
                    {
                        img: "https://wx1.sinaimg.cn/mw1024/95c4147fgy1fv5wx32p1yj21kw0uznpe.jpg",
                        title: "魅力假日",
                        content: "我行过许多地方的桥，看过许多次数的云，喝过许多种类的酒，却只爱过一个正当最好年龄的人 ",
                        date: "update 2018/04/16"
                    },
                    {
                        img: "https://wx4.sinaimg.cn/mw1024/95c4147fgy1fv5wxtlh3hj21kw1z4hdu.jpg",
                        title: "魅力假日",
                        content: "我行过许多地方的桥，看过许多次数的云， 喝过许多种类的酒，却只爱过一个正当最好年龄的人 ",
                        date: "update 2018/04/16"
                    },
                    {
                        img: "https://wx3.sinaimg.cn/mw1024/95c4147fgy1fv5wxuvz4yj21kw2dc4qq.jpg",
                        title: "魅力假日",
                        content: "我行过许多地方的桥，看过许多次数的云， 喝过许多种类的酒，却只爱过一个正当最好年龄的人 ",
                        date: "update 2018/04/16"
                    },
                    {
                        img: "https://wx1.sinaimg.cn/mw1024/95c4147fgy1fv5wxovjidj21kw2dcqog.jpg",
                        title: "魅力假日",
                        content: "我行过许多地方的桥，看过许多次数的云， 喝过许多种类的酒，却只爱过一个正当最好年龄的人 ",
                        date: "update 2018/04/16"
                    },

                ],
            }
        })
    </script>
</body>

</html>