.p2 {
    color: rgb(8, 84, 248);
    font-size: 80px;
    font-weight: 900;
    text-shadow: 5px 5px 10px rgb(15, 15, 15);
    font-style: italic;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 999;
    background-color: rgba(255, 255, 255, .7);
    padding-top: 20px;
    padding-bottom: 20px;
}