*{
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    width: 100%;
}
#tabs{
    width: 100%;
    height: 100%;
}
#pic{
    width:100px;
    height: 100%;
}

#panel{
    width: 600px;
   
}
h3{
     background-color: rgb(128, 227, 245)
}
.ui-draggable,
.ui-droppable {
    background-position: top;
}

.tab{
    display: inline;
}
button{
    float: right;
    margin-top: 30%;
}