* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("https://wx1.sinaimg.cn/mw1024/a16e4a8fly1fty0ftaiz8j23vc2kwx6r.jpg");
    background-repeat: no-repeat;
    background-size: 1600px 1024px;
    height: 100%;
    width: 100%;
}

#tabs {
    width: 100%;
    height: 100%;
}

#pic {
    width: 100px;
    height: 100%;
}

#panel {
    width: 100%;
    height: 100%;

}

h3 {
    background-color: rgb(128, 227, 245)
}

.ui-draggable,
.ui-droppable {
    background-position: top;
}

.tab {
    display: inline;
}

button {
    float: right;
    margin-top: 30%;
}

#tabs-1 {
    display: flex;
    float: left;
}

.text-li {
    font-size: 18px;
    margin-top: 10px;
}

.ul {
    height: 663px;
    width: 341px;
}

.ul p {
    color: #ffff;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding-top: 200px;
    letter-spacing: 10px;
    padding-bottom: 200px;
}

.ul p:hover {
    text-shadow: 5px 5px 5px rgb(47, 85, 255);
    font-size: 30px;

}

.ul li {
    color: #ffff;
    font-size: 18px;
    margin-top: 10px;
    padding-left: 20px;
    position: relative;
    padding-left: 20%;
}

.ul-1 {
    margin-top: 10px;
    background-image: url("https://wx2.sinaimg.cn/mw690/95c4147fly1g075hx4tkqj209h0if0ti.jpg")
}

.ul-2 {
    margin-top: 10px;
    background-image: url("https://wx4.sinaimg.cn/mw690/95c4147fly1g075hxsqofj209h0if3zq.jpg")
}

.ul-3 {
    margin-top: 10px;
    background-image: url("https://wx3.sinaimg.cn/mw690/95c4147fly1g075hxlvi7j209h0ifmyc.jpg")
}